<nav class="navbar navbar-expand-lg sticky-top bg-white shadow-sm navbar-light">
  <div class="container-fluid" *ngIf="user$ | async as user">
    <a
      class="navbar-brand mb-0 h cursor-selecao"
      (click)="menu.abrirMenu()"
      (keyup.space)="menu.abrirMenu()"
    >
      <i class="fa fa-bars mr-2 cursor-selecao"></i>
      Gatito Book
    </a>

    <app-menu #menu>
      <ul class="list-unstyled d-flex justify-content-evenly">
        <li>
          <a class="sem-underline-menu" [routerLink]="['animais', 'novo']"
            >Novo animal</a
          >
        </li>
      </ul>
    </app-menu>

    <div
      class="collapse navbar-collapse"
      id="navbarText"
      *ngIf="user.name; else login"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-item sem-underline cursor-normal">{{ user.name }}</a>
        </li>
      </ul>

      <a class="nav-link sair cursor-selecao" (click)="logout()">Sair</a>
    </div>
  </div>
</nav>

<ng-template #login>
  <a class="nav-link sem-underline cursor-selecao" [routerLink]="['']"
    >Entrar</a
  >
</ng-template>
