<nav class="navbar navbar-expand-lg sticky-top bg-white shadow-sm navbar-light">
  <div class="container-fluid" *ngIf="user$ | async as user">
    <a class="navbar-brand mb-0 h" [routerLink]="['']">Gatito Book</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse"
      id="navbarText"
      *ngIf="user.name; else login"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link">{{ user.name }}</a>
        </li>
      </ul>

      <a class="nav-link sem-underline" (click)="logout()">Sair</a>
    </div>
  </div>
</nav>

<ng-template #login>
  <a class="nav-link sem-underline" [routerLink]="['']">Entrar</a>
</ng-template>
