<h4 class="text-center display-4">Login</h4>

<form class="form mt-4">
  <div class="input-group form-group mt-4">
    <div class="input-group-append">
      <span class="input-group-text p-2">Usuário</span>
    </div>
    <input type="text" class="form-control" aria-label="Nome do usuário" />
    <!--     <div class="input-group-append">
      <span class="input-group-text">.00</span>
    </div> -->
  </div>

  <div class="input-group form-group mt-4">
    <div class="input-group-append">
      <span class="input-group-text p-2">Senha</span>
    </div>
    <input type="password" class="form-control" aria-label="Senha" />
    <!--     <div class="input-group-append">
      <span class="input-group-text">.00</span>
    </div> -->
  </div>
  <div
    class="
      input-group
      form-group
      mt-4
      justify-content-center
      align-items-center
    "
  ></div>
  <div class="d-grid gap-2">
    <button class="btn btn-primary btn-lg" type="submit">Entrar</button>
  </div>
</form>
